@import "../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Starjedi';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Starjedi.ttf') format('truetype');
}

@font-face {
  font-family: 'AurebeshDroid';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/AurebeshDroid.ttf') format('truetype');
}

@mixin linkStyle {
  color: white;
  background-color: #17a2b8;
  border-color: #17a2b8;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

html {
  position: relative;
  min-height: 100%;
}

h1 {
  font-family: "Starjedi", sans-serif;
}

h2 {
  font-family: "AurebeshDroid", sans-serif;
}

h5 {
  margin-right: 25px;
}

a {
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.appWrapper{
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr 40px;

}

.navbar {
  z-index: 10;
}

.link {
  padding: 2px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transition: 0.8s;

  &:hover {
    transition: 0.8s;
    border-top: 2px solid rgba(23, 162, 184, 0.6);
    border-bottom: 2px solid rgba(23, 162, 184, 0.6);
  }
}

.foggy {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);

}

.planetCard, .residentCard {
  border: 3px solid rgba(255, 255, 255, 0.0);
  border-radius: 5px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.0);

  &:hover {
    border: 3px solid rgba(23, 162, 184, 0.6);
    border-radius: 5px;
    transition: 0.6s;
  }

  &:hover > img {
    transform: scale(1.04);
    transition: 0.6s;
  }
}

.planetCard, .residentCard {
  & img {
    width: 150px;
    transition: 0.6s;
  }
}


.sectionCard {
  background-color: rgba(255, 255, 255, 0.0);
  border: none;

}

.sectionCard img {
  height: 150px;
  width: 150px;

}

.card-title {
  font-family: "Starjedi", sans-serif;
}

.descriptionButton, .backToPlanetsButton, .backToPeopleButton {
  @include linkStyle();

  &:hover {
    text-decoration: none;
    background-color: #138496;
    color: white;
  }
}

.sections {
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid #17a2b8;
  color: black;
  transition: 0.4s;
  letter-spacing: 2px;

  &:hover {
    background-color: #17a2b8;
    transition: 0.4s;
  }
}

.planetsListWrapper, .planetItemWrapper, .homeWrapper, .filmsWrapper {

  background: url("https://starwars.gacv.ru/img/bg.jpg") no-repeat center center fixed, rgba(255, 255, 255, 0.6);
  background-blend-mode: color;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.filmsWrapper {
  height: 100%;
  padding-top: 40px;

  & .carousel-item img {
    border-radius: 20px;
  }
}

.carousel {
  width: 70%;
}


.paginator a {
  width: 200px;
  @include linkStyle();

  &:hover {
    text-decoration: none;
    background-color: #138496;
    color: white;
  }
}

.pseudoButtonOff a {
  background-color: gray;

  &:hover {
    background-color: gray;
  }
}

.footerWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

.flex {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);

  & .underConstruction {
    min-height: 100%;
    & img {
      width: 30%;
    }
  }
}

.carousel-caption {
  & h1 {
    text-shadow: 1px 1px 3px #000;
    letter-spacing: 2px
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) and (max-width: 1366px) {

  h1 {
    font-size: 2.0rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.0rem;
  }

  .descriptionText {
    font-size: 15px;
  }

  .planetsListWrapper, .planetItemWrapper, .homeWrapper, .filmsWrapper {
    min-height: 100%;
    background: none;
  }


  .planetsListWrapper {
    background: none;
  }

  .planetItemWrapper {

    & img {
      height: 150px;
      width: 150px;
    }
  }

  .planetCard, .residentCard, .sectionCard {
    background-color: #F8F9FA;

    &:hover {
      border: none;
    }
  }

  .planetListContainer, .peopleListContainer, .sectionsContainer {
    min-width: 100%;
  }

  .filmsWrapper {
    height: 100%;
    padding-top: 40px;

    & .container {
      min-width: 95%;
    }

    & .carousel-caption {
      padding: 0;
      bottom: 5px;

      & h1 {
        font-size: 1.5rem;
        text-shadow: 1px 1px 3px #000;
        letter-spacing: 2px
      }
    }
  }

  .footerWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
  }


  .flex {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);

    & .underConstruction {
      min-height: 100%;

      & img {
        width: 40%;
      }
    }
  }
}


@media (max-width: 767px) {
  html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin: 0 0 70px 0 !important;
  }

  h1 {
    font-size: 2.0rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.0rem;

  }

  .descriptionText {
    font-size: 15px;
  }

  .planetsListWrapper, .planetItemWrapper, .homeWrapper, .filmsWrapper {
    min-height: 100%;
    background: none;
  }


  .planetItemContainer, .residentItemContainer {
    min-width: 90%;
  }

  .planetListContainer, .peopleListContainer, .sectionsContainer {
    min-width: 90%;
  }

  .planetItemWrapper {

    & img {
      height: 150px;
      width: 150px;
    }

  }

  .planetCard, .residentCard, .sectionCard {
    max-width: 70%;
    background-color: #F8F9FA;

    &:hover {
      border: none;
    }
  }
  .paginator a {
    width: 130px
  }


  .filmsWrapper {
    height: 100%;
    padding-top: 40px;

    & .container {
      min-width: 90%;
    }

    & .carousel-caption {
      padding: 0;
      bottom: 0;

      & h1 {
        font-size: 0.95rem;
        text-shadow: 1px 1px 3px #000;
        letter-spacing: 2px
      }
    }

    & .carousel {
      width: 95%;
    }

    & .carousel-item img {
      border-radius: 20px;
    }

    & .descriptionTitle h5 {
      font-size: 1.3rem;
      margin-right: 0;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    & .descriptionText {
      font-size: 1.0rem;
      margin: 0;
      padding: 0 15px;
    }


  }


  .flex {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);

    & .underConstruction {
      min-height: 100%;

      & img {
        width: 60%;
      }
    }
  }

  .footerWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
  }
}